body{
	margin:0;
  font-family: 'Oxygen', sans-serif;
  color: #111;
  font-size: 16px;
	
}

h2 {
  color: #ffffff;
  font-size: 30px;
}

h1 {
  color: #ffffff;
}

table {
    border-collapse: collapse; 
  }
  
  .table-bordered {
    border: solid #bdb289 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child
{
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child
{
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

  .table td, .table th {
      /* background: #fff; */
    border: none;
      /*border-bottom: 1px solid #B8B8B8;*/
      font-weight: normal !important;
    padding: 15px;
      text-align: left;
      vertical-align: middle;
      color: #FFF;
      
  }

  .table td {
    text-align: center;
  }
  
  
  tr.even {
    td, th {
      /* background: #f1f1f1; */
     }
  }
  
  thead, tfoot {
    text-transform: uppercase;
    
    th {
      /* background: #ccc; */
    }
  }
  

  .pos {
    text-align: center;
  }