/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*--Reset code--*/
body {
    background: url(../images/bg5.jpg)no-repeat;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
}
input[type="button"],input[type="submit"],input[type="text"],input[type="email"],input[type="password"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	 font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-weight:400;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	
}
.clear {
	clear:both;
}
p{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}

label{
	margin:0;
	
}
textarea{
	
}
img {
    width: 100%;
}
footer{
	
}
footer a {
	
}

/*--/Reset code--*/
h1 {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    text-transform:capitalize;
    letter-spacing: 3px;
    margin: 40px 0 40px 0;
    color: #fff;
     font-family: 'Josefin Sans', sans-serif;
}
.w3l-main{
	width:45%;
	margin: 0 auto;
}
.w3l-from {
    flex-basis: 300px;
    padding: 3em;
    justify-content: center;
	background: rgba(171, 171, 171, 0.34);
}
label.head {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    
    letter-spacing: 2px;
    padding: 2px;
    margin: 2px;
    display: block;
    color: #fff;
}
span.title{
	color: #ca5c93;
}
span.w3l-star {
    font-size: 20px;
    vertical-align: middle;
    color: #d60026;
    line-height: 1;
}
.w3l-user input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 10px;
    width: 100%;
    outline: none;
    margin: 0px auto 10px;
    color: #000000;
}
.w3l-mail input[type="email"],input[type="password"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    width: 100%;
    outline: none;
    margin: 0px auto 10px;
    color:#000000;
}
.w3l-num input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    color: #000000;
}
.w3l-date input.date {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    width: 100%;
    margin: 0px auto 11px;
    color: #000000;
}
select.form-control {
	font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    padding: 10px;
    width: 100%;  
    box-sizing: border-box;
    border: none;
    outline: none;
}
.w3l-options1 .category1 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    padding: 10px;
    width: 100%;
    margin: 0 auto 10px;
    box-sizing: border-box;
    border: none;
    outline: none;

}
.w3l-options2 .category2 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    padding: 10px;
    width: 100%;
    margin: 0  auto 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 1.5;
}
.w3l-num {
    float: left;
    width: 48%;
}
.w3l-date {
    float: left;
    width: 48%;
    margin-left: 4%;
}
.w3l-options1 {
    float: left;
    width: 48%;
}
.w3l-options2 {
    float: right;
    width: 48%;
}
.gender {
    float: left;
    width: 48%;
}
.w3l-sym {
    float: right;
    width: 48%;
    margin-left: 4%;
}
.w3l-sym input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    width: 100%;
    margin: 0px auto 10px;
    color: #000000;

}
.w3l-right textarea {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    width: 100%;
    padding: 10px;
    resize: none;
    min-height: 100px;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    box-sizing: border-box;
 
}
label.w3l-set {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    padding: 2px;
    color: #3ce0b4;
	cursor: pointer;
}
label.w3l-head2 {
    float: left;
    margin-right: 20px;
    letter-spacing: 1px;
}
.w3l-left1 {
    margin-top: 25px;
}

label.w3l-set2 {
    font-size: 17px;
    text-align: left;
    font-weight: 600;
    
    letter-spacing: 2px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

label.w3l-head2 {
    font-size: 15px;
    
    text-align: center;
	margin-bottom: 20px;
	color: #3ce0b4;
  
}
.btn input[type="submit"] {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    width: 50%;
    margin: 20px auto 0px;
    box-sizing: border-box;
    border: 1px solid #fff;
    outline: none;
	cursor: pointer;
    display: block;
	color: #fff;
	background:rgba(199, 65, 132, 0);

}
.btn input[type="submit"]:hover{
	background-color: #005ba4;
	
}
footer {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    letter-spacing: 1px;
    margin: 20px 0 0 0;
    color: #fff;
    line-height: 1.8em;
}
footer a {
    font-size: 15px;
    font-weight: 600;
	
    text-decoration: none;
	color: #fff;
}
footer a:hover {
	color: #ffd200;
}
/*-- input-effect --*/
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #fff;
    top: -1.5em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width: 100%;
    position: relative;
    margin: 0 0;
    color: #fff;
}
.w3l-lef1 h3 {
    font-size: 25px;
    color: #ffd200;
    margin: 2em 0 1em;
    font-family: 'Josefin Sans', sans-serif;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #8c8c8c;
    color: #bfbfbf;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
	color:#fff;
	font-family: 'Poppins', sans-serif;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
}
.ui-datepicker .ui-datepicker-prev {
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/img-sp1.png) no-repeat 0px 0px;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-next {
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/img-sp.png) no-repeat 0px 0px;
    cursor: pointer;
} 
.ui-datepicker table {
	    background-color: #005ba4 !important;
}
/*-- //input-effect --*/


/*--responsive--*/
@media(max-width:1920px){

}
@media(max-width:1680px){
	
}
@media(max-width:1600px){

}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	.w3l-main {
		width: 55%;
	}
}
@media(max-width:1280px){
	.w3l-main {
		width: 55%;
	}
	label.head {
		letter-spacing: 1px;
	}
}
@media(max-width:1080px){
	.w3l-main {
		width: 60%;
	}
}
@media(max-width:1050px){
	.w3l-main {
		width: 60%;
	}
}
@media(max-width:1024px){

}
@media(max-width:991px){
	  .w3l-from{
		padding: 2em;
	}
}
@media(max-width:900px){
	h1{
		font-size: 40px;
	}
}
@media(max-width:800px){
	.w3l-main {
		width: 70%;
	}
}
@media(max-width:768px){
	    .w3l-from{
		padding: 2em;
	}		
}
@media(max-width:736px){
	
}
@media(max-width:667px){
	.w3l-main {
		width: 80%;
	}
	.w3l-from {
        padding: 2em
	}
	h1{
		letter-spacing: 2px;
	}
	.btn input[type="submit"]{
		width: 60%;
	}
}
@media(max-width:640px){
	.w3l-main {
		width: 90%;
	}
	h1{
		letter-spacing: 1px;
	}
	footer {
		letter-spacing: 0px;
	}
}
@media(max-width:600px){
	h1{
		font-size: 35px;
	}
	.w3l-from {
		padding: 2em;
	}
	footer{
		font-size: 14px;
	}
	footer a {
		font-size: 14px;
	}
}
@media(max-width:568px){
	.w3l-from{
		padding: 2em;
	}
	label.head {
		letter-spacing: 0px;
	}
	.w3l-lef1 h3 {
    font-size: 22px;
    margin: 1em 0 0.5em;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 30px;
		line-height: 44px;
	}
	.w3l-from{
		padding: 1em;
	}
	.w3l-num {
		width: 100%;
	}
	.w3l-date {
		width: 100%;
		margin: 0;
	}
	.w3l-options1 .category1{
		margin: 0 auto 30px;
	}
	.w3l-options1 {
		width: 100%;
	}
	.w3l-options2 {
		float: right;
		width: 100%;
	}
	.gender {
		float: left;
		width: 100%;
	}
	.w3l-sym {
		width: 100%;
    }
	.btn input[type="submit"]{
		width: 70%;
	}
}
@media(max-width:414px){
	.w3l-from{
		padding: 1em;
	}
	.w3l-main {
		width: 95%;
	}
	h1 {
		font-size: 28px;
	}
	.btn input[type="submit"] {
        width: 100%;
	}
}
@media(max-width:384px){
	.w3l-from{
		padding: 1em;
	}
	h1{
		font-size: 26px;
	}
	.w3l-options1 {
		float: left;
		width: 100%;
	}
	.w3l-options2 {
		float: right;
		width: 100%;								
	}						
	.gender {
		float: left;
		width: 100%;
	}
	.w3l-sym {
		float: right;
		width: 100%;
		margin-left: 0%;
	}
	
}
@media(max-width:375px){
	.w3l-from{
		padding: 1em;
	}
	.w3l-lef1 h3 {
    font-size: 20px;
}
}
@media(max-width:320px){
	.w3l-from{
		padding: 1em;
	}
	h1 {
    line-height: 36px;
}
.w3l-lef1 h3 {
    font-size: 18px;
}
}
/*--/responsive--*/

